{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'message.html' %}
    <div class="row">
        {% if not fact %}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Create Facts</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{forms.happy_client|as_crispy_field}}                            
                                </div>
                                <div class="col-md-6">
                                    {{forms.project|as_crispy_field}}                            
                                </div>
                                <div class="col-md-6">
                                    {{forms.cup_of_coffee|as_crispy_field}}                            
                                </div>
                                <div class="col-md-6">
                                    {{forms.award|as_crispy_field}}                            
                                </div>
                                <div class="col-md-12">
                                    {{forms.media}}
                                    {{forms.fact_description|as_crispy_field}}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Edit Facts</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{forms.happy_client|as_crispy_field}}                            
                                </div>
                                <div class="col-md-6">
                                    {{forms.project|as_crispy_field}}                            
                                </div>
                                <div class="col-md-6">
                                    {{forms.cup_of_coffee|as_crispy_field}}                            
                                </div>
                                <div class="col-md-6">
                                    {{forms.award|as_crispy_field}}                            
                                </div>
                                <div class="col-md-12">
                                    {{forms.fact_description|as_crispy_field}}
                                </div>
                            </div>                  
                            <button type="submit" class="btn btn-sm btn-primary"><span class="mdi mdi-pencil"></span></button>
                            <a href="{% url 'fact-delete' fact %}" type="submit" class="btn btn-sm btn-danger"><span class="mdi mdi-delete"></span></a>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    
{% endblock content %}