{% extends 'main.html' %}
{% block content %}
{% include 'message.html' %}
    <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h3>All Posts for My Blog</h3>
                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'myblog-create' %}" class="btn btn-primary btn-sm">New Add</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Image</th>
                                <!-- <th>created</th>
                                <th>updated</th> -->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for blog in blogs %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{blog.title}}</td>
                                    <td>{{blog.description|stringformat:".30s"|safe}}...</td> 
                                    <td>
                                        <img src="{{blog.blog_image.url}}" alt="" width="20px" height="20px">
                                    </td>
                                    <td>
                                        <a href="{% url 'myblog-view' blog.slug %}" class="btn btn-info btn-sm"><span class="mdi mdi-eye"></span></a>
                                        <a href="{% url 'myblog-edit' blog.slug %}" class="btn btn-primary btn-sm"><span class="mdi mdi-pencil"></span></a>
                                        <a href="{% url 'myblog-delete' blog.slug %}" class="btn btn-danger btn-sm"><span class="mdi mdi-delete"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    
{% endblock content %}