<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
      </div>

      <div class="row mt-1">

        <div class="col-lg-5 mr-lg-5 col-12">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Sittwe, Rakhine</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

            <div class="google-map w-120 mt-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59923.14336077299!2d92.81352915106515!3d20.167543976186575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30b04f689ff64957%3A0x6f89e0ea33ba5cec!2sSittwe%2C%20Myanmar%20(Burma)!5e0!3m2!1sen!2sus!4v1687181105512!5m2!1sen!2sus" width="00" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0">

          <form action="" method="post" role="form" class="contact-form" style="padding:30px; width:100; background: #0f1d31  ;">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="15" placeholder="Message" required></textarea>
            </div>
            <div class="text-center"  style="padding-top:20px;"><button type="submit" class="btn btn-primary" style="padding-top:10px;">Send Message</button></div>
          </form>

        </div>

      </div>

    </div>
  </section>
<!-- End Contact Section -->